/* Global Elements */
h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 3rem;
}

/* Classes */
.card img {
    height: 50vh;
    object-fit: cover;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #ff5722 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ff5722 !important;
    box-shadow: 0 1px 0 0 #ff5722 !important;
}

/* Changes the dropdown background and text color */
ul.dropdown-content.select-dropdown li span {
    background-color: #ff5722;
    color: white;
}

/* Changes the dropdown color on hover */
ul.dropdown-content.select-dropdown li span:hover {
    background-color: #bf360c;
}

/* ID's */
#artistName {
    margin-bottom: 5%;
}

/* Makes the detail button full width */
#detailsButton {
    width: 100%;
}

/* Makes the preview image full width */
#imagePreview {
    max-height: 100%;
    width: 100%;
}