/* Global Elements */
h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 3rem;
}

/* Classes */
.card-title {
    mix-blend-mode: exclusion;
}

.card img {
    max-height: 300px;
    object-fit: cover;
}

/* Makes sure the materialbox show the entire image */
.card img.materialboxed.active {
    max-height: none;
    object-fit: none;
}

/* ID's */
#artistName {
    margin-bottom: 5%;
}

#detailsButton {
    width: 100%;
}
