/* Global Elements */
h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 3rem;
}

/* Classes */
.card-title {
    mix-blend-mode: exclusion;
}

.card img {
    max-height: 300px;
    object-fit: cover;
}

/* Makes sure the materialbox show the entire image */
.card img.materialboxed.active {
    max-height: none;
    object-fit: none;
}

/* Changes the dropdown background and text color */
ul.dropdown-content.select-dropdown li span {
    background-color: #ff5722;
    color: white;
}

/* Changes the dropdown color on hover */
ul.dropdown-content.select-dropdown li span:hover {
    background-color: #bf360c;
}

/* ID's */
#artistName {
    margin-bottom: 5%;
}

#detailsButton {
    width: 100%;
}
